<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @project.name %>
</p>

<p>
  <strong>Location:</strong>
  <%= @project.location %>
</p>

<p>
  <strong>Year:</strong>
  <%= @project.year.year %>
</p>

<p>
  <strong>Client:</strong>
  <%= @project.client %>
</p>

<p>
  <strong>Client url:</strong>
  <%= @project.client_url %>
</p>

<p>
  <strong>Category:</strong>

  <%= @category.name %>
  
</p>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
