<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @project.name %>
</p>

<p>
  <strong>Location:</strong>
  <%= @project.location %>
</p>

<p>
  <strong>Year:</strong>
  <%= @project.year.year %>
</p>

<p>
  <strong>Client:</strong>
  <%= @project.client %>
</p>

<p>
  <strong>Client url:</strong>
  <%= @project.client_url %>
</p>

<p>
  <strong>Category:</strong>
  <%= @category.name %>
</p>

<% @project.photos.each do |photo| %>
  <p><%= photo.caption %> | <%= link_to 'Destroy', project_photo_path(@project, photo), method: :delete, data: { confirm: 'Are you sure?' } %></p>
<% end %>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %> | 
<%= link_to 'Add Photo', new_project_photo_path(@project) %>
