<span class="page-name" style="display:none;">Work</span>

<span class="page-name" style="display:none;"><%= @category.name %></span>
<p id="notice"><%= notice %></p>

<span class="page-name" style="display:none;">Portfolio</span>

<p>
  <strong>Name:</strong>
  <%= @category.name %>
</p>

<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>
