<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>urhome</title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div id="top-bar-wrapper">
    
      <div class="row">

          
          <div class="large-8 large-offset-2 columns padding-off add-top-bar-shadow">

            <div class="title-bar">
              <div class="row">
                <div class="large-10 small-11 column"><p>ulises_OS (v1.2.1)</p></div>
                <div class="large-2 small-1 column"><i class="fi-minus"></i> <i class="fi-plus"></i> <i class="fi-x"></i></div>
              </div>
            </div>

            <div id="top-bar-container" class="large-12 columns bottom-edge">

              <nav class="top-bar rounded-top-bar" data-topbar>
                <ul class="title-area">
                  <li class="name">
                    <h1><%= link_to 'Ulises Reyes', root_path %></h1>
                  </li>
                   

                  <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
                </ul>

                <section class="top-bar-section">

                  <!-- Left Nav Section -->
                  <ul class="left">

                    <li class="has-dropdown">
                      <a href="#">Work</a>
                      <ul class="dropdown add-dropdown-shadow">  
                        <li><%= link_to 'All', categories_path %></li>                
                        <% Category.all.order('id ASC').each do |category| %>
                          <li><%= link_to category.name, category_path(category) %></li>
                        <% end %>
                      </ul>
                    </li>

                    <li><a href="#">Blog</a></li>
                    <li ><a href="#">About</a></li>
                    <li><a href="#">CV</a></li>
                    <li class="has-dropdown">
                      <a href="#">Contact me</a>
                      <ul class="dropdown add-dropdown-shadow">
                        <li><a href="http://www.github.com/urjr"><i class="fi-social-github"></i>  Github</a></li>
                        <li><a href="http://twitter.com/ureys"><i class="fi-social-twitter"></i>  Twitter</a></li>
                        <li><a href="#"><i class="fi-social-linkedin"></i>  LinkedIn</a></li>
                        <li><a href="http://www.instagram.com/urjr"><i class="fi-social-instagram"></i>  Instagram</a></li>
                        <li><%= mail_to 'urjr8891@gmail.com', '<i class="fi-mail"></i>  Email'.html_safe %></li>
                      </ul>
                    </li>
                  </ul>
                </section>

              </nav>

            </div>
          </div>

          <div class="logo-holder large-2 columns">
            <%= link_to image_tag("logo.png"), root_path, :class => "logo" %>
          </div>
          
      </div>
    </div>

    <div class="row container">
      <%= yield %>
    </div>
    <%= javascript_include_tag "application" %>
  </body>
</html>