<!DOCTYPE html>
<html>
<head>
  <title>Urhome</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<%= link_to 'Home', root_path %>
	<%= link_to 'All', categories_path %>
	<% Category.order('id ASC').all.each do |category| %>
		<%= link_to category.name, category_path(category) %>
	<%end%>

<%= yield %>

</body>
</html>
